<h1> DEMO PURE & IMPURE PIPE</h1>

<h2> Quante volte viene ricalcolata la pipe?</h2>
<input type="text" #i>&nbsp;
<button (click)="changeTitle(i.value)">Modifico Titolo</button>

<p>PURE: {{ title | customPipePure }}</p>

<p>IMPURE: {{ title | customPipeImpure }}</p>


<h2> Cosa succede ad una lista filtrata da una pipe che viene modificata By Reference o By Value?</h2>
<ul>
    <li>Inserisco in "filtro lista" il testo "primo" </li>
    <li>Click su uno dei tre pulsanti a destra nell'input</li>
    <li>Click sul pulsante Reset</li>
    <li>Click su un altro pulsante</li>
    <li>Click sul pulsante Reset</li>
    <li>Click sull'ultimo pulsante</li>
</ul>
<input type="text" [(ngModel)]="searchTerm" placeholder="Filtro Lista">&nbsp;
<button (click)="changeByReference()">Modifico primo valore By Reference</button> &nbsp;
<button (click)="changeByValue()">Modifico primo valore By Value</button>&nbsp;
<button (click)="pushInArray()">Inserisco un nuovo libro "primo libro 2"</button>&nbsp;
<button (click)="reset()">Reset</button>

<p>PURE: </p>
<ul>
    <li *ngFor="let item of list | filterPipePure:searchTerm">
        {{item.title}} - {{item.imei}}
    </li>
</ul>

<p>IMPURE: </p>
<ul>
    <li *ngFor="let item of list | filterPipeImpure:searchTerm">
        {{item.title}} - {{item.imei}}
    </li>
</ul>